body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
  
  .card img {
    max-width: 100%;
    border-radius: 50%;
  }